/* Google Fonts */

// Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");

// Poppins
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500&display=swap");

/* Font Variables */
$Montserrat: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;


$RoyalPurple: #7851a9;
$Purple: #7300ff;
$LightGreen: #00c000;